@import url("https://fonts.googleapis.com/css2?family=Ledger&family=Oswald:wght@400;500;600&family=Fira+Code&display=swap");

body {
  font-family: "Oswald", sans-serif;
}

html {
  /* scroll-behavior: smooth; */
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

img,
video {
  max-width: 100%;
}

html,
body {
  scrollbar-width: thin;
}
